In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [95]:
data=pd.read_csv('Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [96]:
data = data.drop('User ID', axis=1)
display(data.head())

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [97]:
print(data.isnull().sum())

Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [98]:
data.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [99]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
le = LabelEncoder()

# Apply Label Encoding to the 'Gender' column
data['Gender'] = le.fit_transform(data['Gender'])

display(data.head())

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [100]:
X = data.drop('Purchased', axis=1)
y = data['Purchased']
# The line 'data['purchased']=y' is removed as it was creating a duplicate column.

In [101]:
train_X,test_X,train_y,test_y=train_test_split(data.drop('Purchased',axis=1),data['Purchased'],test_size=0.3,random_state=42)

In [102]:
from sklearn.preprocessing import StandardScaler

# Identify numerical features for scaling (assuming 'Gender' is already encoded)
numerical_features = ['Age', 'EstimatedSalary']

# Initialize StandardScaler
scaler = StandardScaler()

# Fit the scaler on the numerical features of the training data and transform train_X
train_X[numerical_features] = scaler.fit_transform(train_X[numerical_features])

# Transform test_X using the scaler fitted on train_X
test_X[numerical_features] = scaler.transform(test_X[numerical_features])

print("Scaled train_X head:")
display(train_X.head())

print("\nScaled test_X head:")
display(test_X.head())

Scaled train_X head:

     Gender       Age  EstimatedSalary
157       1 -0.842522         0.130156
109       0  0.041758         0.277702
17        1  0.729530        -1.315791
347       0  1.613809         1.103957
24        1  0.827784        -1.404318

Scaled test_X head:

     Gender       Age  EstimatedSalary
209       0  0.827784        -1.433827
280       0  2.105076         0.513775
33        0 -0.940775        -0.784626
210       0  1.024290         0.749848
93        0 -0.842522        -1.256772

In [103]:
knn_sklearn=KNeighborsClassifier(n_neighbors=7)
knn_sklearn.fit(train_X,train_y)
y_pred_sklearn=knn_sklearn.predict(test_X)

In [104]:
sklearn_accuracy=accuracy_score(test_y,y_pred_sklearn)
print(f"Accuracy with sklearn: {sklearn_accuracy}")
sklearn_precision=precision_score(test_y,y_pred_sklearn)
print(f"Precision with sklearn: {sklearn_precision}")
sklearn_recall=recall_score(test_y,y_pred_sklearn)
print(f"Recall with sklearn: {sklearn_recall}")
sklearn_f1=f1_score(test_y,y_pred_sklearn)
print(f"F1 Score with sklearn: {sklearn_f1}")

Accuracy with sklearn: 0.925
Precision with sklearn: 0.8958333333333334
Recall with sklearn: 0.9148936170212766
F1 Score with sklearn: 0.9052631578947369

In [105]:
model=LogisticRegression()
model.fit(train_X,train_y)
y_pred=model.predict(test_X)


accuracy=accuracy_score(test_y,y_pred)
precision=precision_score(test_y,y_pred)
recall=recall_score(test_y,y_pred)
f1=f1_score(test_y,y_pred)

print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1 Score: {f1}")

Accuracy: 0.8583333333333333
Precision: 0.9411764705882353
Recall: 0.6808510638297872
F1 Score: 0.7901234567901234

In [106]:
from sklearn.svm import SVC

svmclf =SVC(kernel='linear')
svmclf.fit(train_X,train_y)
y_pred_svml=svmclf.predict(test_X)

In [107]:
sklearn_accuracy=accuracy_score(test_y,y_pred_svml)
print(f"Accuracy with sklearn: {sklearn_accuracy}")
sklearn_precision=precision_score(test_y,y_pred_svml)
print(f"Precision with sklearn: {sklearn_precision}")
sklearn_recall=recall_score(test_y,y_pred_svml)
print(f"Recall with sklearn: {sklearn_recall}")
sklearn_f1=f1_score(test_y,y_pred_svml)
print(f"F1 Score with sklearn: {sklearn_f1}")

Accuracy with sklearn: 0.85
Precision with sklearn: 0.967741935483871
Recall with sklearn: 0.6382978723404256
F1 Score with sklearn: 0.7692307692307693

In [108]:
svmclf =SVC(kernel='poly')
svmclf.fit(train_X,train_y)
y_pred_svmp=svmclf.predict(test_X)

In [109]:
sklearn_accuracy=accuracy_score(test_y,y_pred_svmp)
print(f"Accuracy with sklearn: {sklearn_accuracy}")
sklearn_precision=precision_score(test_y,y_pred_svmp)
print(f"Precision with sklearn: {sklearn_precision}")
sklearn_recall=recall_score(test_y,y_pred_svmp)
print(f"Recall with sklearn: {sklearn_recall}")
sklearn_f1=f1_score(test_y,y_pred_svmp)
print(f"F1 Score with sklearn: {sklearn_f1}")

Accuracy with sklearn: 0.8833333333333333
Precision with sklearn: 0.9714285714285714
Recall with sklearn: 0.723404255319149
F1 Score with sklearn: 0.8292682926829268

In [110]:
svmclf =SVC(kernel='rbf')
svmclf.fit(train_X,train_y)
y_pred_svmpr=svmclf.predict(test_X)

In [111]:
sklearn_accuracy=accuracy_score(test_y,y_pred_svmpr)
print(f"Accuracy with sklearn: {sklearn_accuracy}")
sklearn_precision=precision_score(test_y,y_pred_svmpr)
print(f"Precision with sklearn: {sklearn_precision}")
sklearn_recall=recall_score(test_y,y_pred_svmpr)
print(f"Recall with sklearn: {sklearn_recall}")
sklearn_f1=f1_score(test_y,y_pred_svmpr)
print(f"F1 Score with sklearn: {sklearn_f1}")

Accuracy with sklearn: 0.9333333333333333
Precision with sklearn: 0.8979591836734694
Recall with sklearn: 0.9361702127659575
F1 Score with sklearn: 0.9166666666666666

In [112]:
results = {}

# KNN Classifier Metrics (using y_pred_sklearn from cell -KLs8ra81Hia)
results['KNN'] = {
    'Accuracy': accuracy_score(test_y, y_pred_sklearn),
    'Precision': precision_score(test_y, y_pred_sklearn),
    'Recall': recall_score(test_y, y_pred_sklearn),
    'F1-Score': f1_score(test_y, y_pred_sklearn)
}

# Logistic Regression Metrics (using y_pred from cell H-oAa86e4DQz)
results['Logistic Regression'] = {
    'Accuracy': accuracy_score(test_y, y_pred),
    'Precision': precision_score(test_y, y_pred),
    'Recall': recall_score(test_y, y_pred),
    'F1-Score': f1_score(test_y, y_pred)
}

# SVC (Linear Kernel) Metrics (using y_pred_svml from cell yonHeyiq5WWu)
results['SVC Linear'] = {
    'Accuracy': accuracy_score(test_y, y_pred_svml),
    'Precision': precision_score(test_y, y_pred_svml),
    'Recall': recall_score(test_y, y_pred_svml),
    'F1-Score': f1_score(test_y, y_pred_svml)
}

# SVC (Polynomial Kernel) Metrics (using y_pred_svmp from cell GHmRaeLn6653)
results['SVC Poly'] = {
    'Accuracy': accuracy_score(test_y, y_pred_svmp),
    'Precision': precision_score(test_y, y_pred_svmp),
    'Recall': recall_score(test_y, y_pred_svmp),
    'F1-Score': f1_score(test_y, y_pred_svmp)
}

# SVC (RBF Kernel) Metrics (using y_pred_svmpr from cell nvJkUacg7o2c)
results['SVC RBF'] = {
    'Accuracy': accuracy_score(test_y, y_pred_svmpr),
    'Precision': precision_score(test_y, y_pred_svmpr),
    'Recall': recall_score(test_y, y_pred_svmpr),
    'F1-Score': f1_score(test_y, y_pred_svmpr)
}

# Create DataFrame
performance_df = pd.DataFrame.from_dict(results, orient='index')
performance_df.index.name = 'Model'
display(performance_df)

                     Accuracy  Precision    Recall  F1-Score
Model
KNN                  0.925000   0.895833  0.914894  0.905263
Logistic Regression  0.858333   0.941176  0.680851  0.790123
SVC Linear           0.850000   0.967742  0.638298  0.769231
SVC Poly             0.883333   0.971429  0.723404  0.829268
SVC RBF              0.933333   0.897959  0.936170  0.916667

    SVC RBF IS THE BEST MODEL